<div class="container-home">
  <div class="to_do">
    <div class="present">
      <h1>Bonjour {{user.username}}</h1>
    </div>

    <div class="row_add_task">
      <input type="text" id="input-box" placeholder="Titre de la tâche" [(ngModel)]="taskData.title">
      <input type="text" id="input-box" placeholder="Description de la tâche" [(ngModel)]="taskData.description">
      <button (click)="addTask()">Add</button>
    </div>

    <div *ngIf="tasks.length" class="taskList">
      <h2>Mes tâches :</h2>
      <div  *ngFor="let task of tasks">
      <div class="line">
        <input class="checkOut" type="checkbox" name="task_checkbox" [(ngModel)]="task.state">
        <div class="left">
            <span class="title">{{task.title}}</span>
            <span class="description">{{task.description}}</span>
        </div>
        <div class="right">
            <span (click)="deleteTask(task.id)">Delete</span>
        </div>
      </div>
      </div>
    </div>
  </div>
  
</div>

