  
  <header>
    <section>
      <!-- <h1>{{ title }}</h1> -->
    </section>
    <!-- <nav>
      <ul>
        <li><a routerLink="/"><button (click)="goToHome()">Home</button></a></li>
        <li><a routerLink="/connexion"><button (click)="goToSignIn()">Connexion</button></a></li>
        <li><a routerLink="/inscription"><button (click)="goToSignUp()">Inscription</button></a></li>
      </ul>
    </nav> -->
  </header>  
  <div style="align-items: center;">
    <!-- <h1>{{ title }}</h1> -->
    <h1>Bienvenue sur notre application de gestion de tâches</h1>
    <button (click)="goToSignIn()">Connexion</button>
    <button (click)="goToSignUp()">Inscription</button>
</div>

